@font-face {
  font-family: "Circular Std";
  src: url("./fonts/circular_std_font/CircularStd-Medium.woff2") format("woff2"),
    url("./fonts/circular_std_font/CircularStd-Medium.woff") format("woff"),
    url("./fonts/circular_std_font/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
