@import url("./fonts.css");
@import url("./vars.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--main-text_color);
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--roboto-font);
  font-weight: normal;
  line-height: 1.7;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 12rem;
  background: var(--backgournd-primary_color);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.04);
}

.main {
  background: var(--backgorund);
}

.u-box-style {
  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}

.container {
  max-width: 121rem;
  margin: 0 auto;
  padding: 3rem;
}

/* MAIN */

/* STYLES OF SECTION-MAIN */

.section-main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.section-main__description-wrapper {
  width: 41rem;
}

.section-main__description {
  width: 100%;
  height: 55.5rem;
  margin-bottom: 2rem;
}

.section-main__options {
  width: 100%;
  height: 16.1rem;
  margin-bottom: 12rem;
}

/* STYLES OF TRAVEL-INFO */

.travel-info {
  min-width: 71rem;
}

.travel-info__nav-bar {
  padding: 2.3rem 5rem 0 5rem;
}

.travel-info__nav-bar ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #e9edf3;
}

.travel-info__nav-bar li {
  padding: 0 2.6rem 2.1rem 2.6rem;
  font-family: var(--circular_atd-font);
  font-style: normal;
  font-weight: 450;
  font-size: 1.6rem;
  line-height: 163.6%;
}

.travel-info__selected-option {
  border-bottom: 2px solid #61dbb4;
  margin-bottom: -1.5px;
  color: var(--primary-text_color);
}

.travel-info__selected-option a {
  color: var(--primary-text_color);
}

/* STYLES OF DOCUMENTS */

.travel-info__container {
  width: 100%;
  padding: 0rem 4rem;
}

.documents-container {
  width: 100%;
  padding: 4.5rem 0;
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.document {
  position: relative;
  width: 19.6rem;
  height: 10rem;
  padding: 2.2rem 0 2rem 2.5rem;
  border: 1px solid var(--borders-color);
  border-radius: 4px;

  font-family: var(--roboto-font);
  font-style: normal;
  line-height: 2.3rem;
  letter-spacing: 0.03em;
}

.document:not(:last-child):hover::after,
.preference__chosen-option:hover::after {
  content: url(./imgs/close-in-circul.png);
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  cursor: pointer;
  display: block;
}

.document__country {
  position: relative;
  padding-left: 3.5rem;
  padding-bottom: 1.2rem;

  font-size: 1.4rem;
  color: var(--primary-text_color);
}

.document__country--ukraine::before {
  content: url(./imgs/ukr_flag.png);
  position: absolute;
  top: 0;
  left: 0;
}

.document__country--uk::before {
  content: url(./imgs/uk_flag.png);
  position: absolute;
  top: 0;
  left: 0;
}

.document__code {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--tertiary-text_color);
  padding-right: 1.2rem;
}

.document__date {
  font-size: 1.2rem;
  color: var(--main-text_color);
}

.document__new {
  padding: 2.2rem 0 2rem 0;
}

.document__new-passport-icon {
  display: block;
  margin: 0 auto;
  padding-bottom: 1rem;
  cursor: pointer;
}

.document__add-text {
  display: block;
  text-align: center;
  font-size: 1.3rem;
  color: var(--main-text_color);
}

/* NEW PASSPORT AND FORM STILES */

.new-passport-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  /* visibility: hidden; */
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.new-passport__positioning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-passport {
  width: 71rem;
  height: 43.2rem;
  background-color: var(--background-primary_color);
}

.new-passport__header {
  position: relative;
  height: 8rem;
  width: 100%;
  border-bottom: 1px solid #e9edf3;
  padding: 2.7rem 0 2.7rem 5rem;
}

.title-primary {
  font-family: var(--circular_atd-font);
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 163.6%;

  color: var(--primary-text_color);
}

.new-passport__close {
  position: absolute;
  top: 3.3rem;
  right: 5rem;
  cursor: pointer;
}

.form {
  width: 100%;
  padding: 4.5rem 5rem 0;
}

.input,
.form__input::placeholder {
  font-family: var(--roboto-font);
  font-style: normal;
  font-size: 1.3rem;
  line-height: 163.6%;
  letter-spacing: 0.03em;
  color: var(--main-text_color);
}

.form__inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input {
  width: 29rem;
  height: 4.2rem;
  padding: 1rem 2rem;
  border: 1px solid var(--borders-color);
  border-radius: 4px;
}

.input:focus {
  outline: 1px solid var(--primary-button_color);
}

.form__input {
  margin-bottom: 4rem;
}

.form__input:last-child {
  margin-bottom: 5rem;
}

.form__submit {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--primary-button_color);
  border: 1px solid var(--primary-button_color);
  border-radius: 1px;

  font-size: 16px;
  color: var(--background-primary_color);
}

.form__submit:focus {
  outline: 2px solid #53b696;
}

/* STYLES OF TRAVEL-PREFERENCES OPTIONS */

.preference {
  width: 100%;
}

.preference__option-layout {
  margin: 5rem 0 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preference__option-layout-2 {
  margin: 5rem 0 4rem;
  width: 100%;
}

.preference__title {
  font-weight: 450;
  font-size: 1.4rem;
}

.preference__chosen-options {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.preference__chosen-option {
  position: relative;
  width: fit-content;
  padding: 1rem 1.5rem;
  background: #f5f8fe;
  border-radius: 4px;
  margin-right: 1.5rem;

  font-size: 1.3rem;
  line-height: 163.6%;
  letter-spacing: 0.03em;
  color: #7b819a;
}

.preference__chosen-stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  border: 1px solid var(--borders-color);
  border-radius: 5px;
  padding: 1.7rem;
  margin-bottom: 3.3rem;
}

.stars {
  width: 9.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stars__checkbox {
  position: relative;
  cursor: pointer;
  width: 1.4rem;
  height: 1.4rem;

  border: 0.7px solid var(--tertiary-text_color);
  border-radius: 2px;
}

.starst__checkbox-checked {
  background-color: var(--primary-button_color);
  border: 0.7px solid var(--primary-button_color);
}

.stars__checkbox::after {
  content: url(./imgs/checked.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -45%);
}

.stars__container {
  display: flex;
  align-items: center;
}

.star {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

.star:not(:last-child) {
  margin-right: 2px;
}

footer {
  width: 100%;
  height: 102px;
  background: var(--background-secondary_color);
}
